body{
    width: 1480px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
}
h1{
    font-family: 'Myriad Pro';
    color:  #000000;
    font-size: 80px;
    font-weight: 400;
    padding-top: 61px;
    padding-bottom: 45px;
}
h1 span{
    color:  #4bcaff;
}
.main-container { 
    margin-top: 51px;
}
.top-menu {
    background-color:  #35444f;
    width: 1280px;
    height: 69px;
    padding-left: 163px;
}
.top-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 69px;
  }
 
.top-navbar > li {
    float: left;
    
  }
  
.top-navbar > li a {
    font-family: 'Myriad Pro';
    color:  #ffffff;
    font-size: 24px;
    font-weight: 400;
    display: block;
    color: white;
    text-align: center;
    padding: 19px 41px;
    text-decoration: none;
    height: 69px;
  }

  .top-navbar > li a:hover {
    background-color:  #222f3a;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
    padding: 19px 40px;
    transition: 0.3s;
  }
  .left-menu {
    width: 343px;
    height: auto;
    border: 1px solid #000000;
    float: left;
  }
  .left-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .left-navbar > li a{
    display: block;
    text-decoration: none;
    font-family: 'Myriad Pro';
    color:  #485863;
    font-size: 26.99px;
    font-weight: 400;
    padding: 30px 44px;
  }
  .left-navbar > li a:hover{
   background-color:  rgb(220, 220, 220);
   color:  #000000;
   padding-left: 65px;
   transition: 0.3s;
  }
  .top-image {
    border: 1px solid #000000;
    width: 883px;
    height: 527px;
    margin-left: 54px;
    display: inline-block;
  } 
  .top-image img{
      width: 320px;
      height: 381px;
      margin-top: 75px;
      margin-left: 297px;
      transition: width 1s, height 1s;
  }
  .top-image>img:hover{
      width: 340px;
      height: 400px; 
  }
  .text-container{
      margin-top: 50px;
      margin-left: 396px;
  }
  .text-container p{
      margin-top: 30px;
      margin-left: 30px;
      margin-right: 30px;
      font-family: 'Myriad Pro';
    color:  #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
  }
  .bottom-menu{
     background-color: rgb(181, 184, 187);
     height: 69px;
     margin-top: 51px;
  }
  .bottom-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .bottom-navbar>li{
      float: left;
  } 
  .bottom-navbar > li a{
    display: block;
    text-align: center;
    text-decoration: none;
    margin-left: 35px;
    margin-top: -10px;
    font-family: 'Myriad Pro';
    color:  #0c1927;
    font-size: 28px;
    font-weight: 400;
    line-height: 90px;
  }
  .bottom-navbar> li a:hover {
    color:  #3181a6;
    text-decoration: underline;
    transition: 0.2s;
  }
  .bottom-menu > span {
    float: right;
    font-family: 'Myriad Pro';
    color:  #0c1927;
    font-size: 28px;
    font-weight: 400;
    line-height: 90px;
    margin-top: -10px;
    margin-right: 30px;
  }
