body {
   margin: 0 auto;
   background-image: url("../img/rana-sawalha-364253-unsplash.png");
   background-repeat: no-repeat;
   background-position: top;
   background-size: cover;
   font-family: Verdana, Geneva, sans-serif;
}

header {
    background-color:  rgba(0, 0, 0, 0.41);
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header .main-link {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    margin-left: 81px;
    margin-top: 17px;
    text-transform: uppercase;
}
header .main-link:hover {
    color:  #3cb878;
    transition: 0.3s;
}
.navbar-top {
    margin-right: 75px;
    margin-top: 16px;
}
.autorization-links {
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    
}
.autorization-links a {
    text-decoration: none;
    color:  #3cb878;
    display: inline-block;
}

.autorization-links a:hover {
    text-decoration: underline;
}
.autorization-links::before {
    position: absolute;
    content: "";
    background-color: rgb(48, 45, 43);
    right: 295px;   
    width: 1px;
    height: 19px;
}
.icons{
    /* margin-top: 17px; */
    margin-right: 0px;   
}
.icons a {
    /* display: block; */
    text-decoration: none;
}
.links-icons {
    display: inline-block;
    margin-right: 50px;
    margin-top: 17px;
}
.icons i {
    display: inline-block;
}
.forum-link {
    margin-right: 28px;
}
.calendar-link {
    margin-right: 28px;
}
.journey-link {
    
}
.sprite {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-ic_caledar {
    width: 19px;
    height: 19px;
    background-position: -5px -5px;
}
.sprite-ic_forum {
    width: 28px;
    height: 20px;
    background-position: -5px -34px;
}
.sprite-ic_journey {
    width: 20px;
    height: 20px;
    background-position: -81px -5px;
}

.calendar-link:hover .sprite-ic_caledar {
    width: 19px;
    height: 19px;
    background-position: -34px -5px;
}
.forum-link:hover .sprite-ic_forum {
    width: 28px;
    height: 20px;
    background-position: -43px -34px;
}
.journey-link:hover .sprite-ic_journey {
    width: 20px;
    height: 20px;
    background-position: -81px -35px;
}

.modal {
    width: 444px;
    height: 584px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    margin-left: -222px;
    margin-top: -292px;
    top: 50%;
    left: 50%;
}
.content-modal {
    margin-top: 29px;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 32px;
}
.header-modal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-modal span {
    color:  #434343;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
}
.header-modal a {
    text-decoration: none;
    color:  #3cb878;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.header-modal a:hover {
    text-decoration: underline;
}
.header-modal span::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: rgb(60, 184, 120);
    left: 0;
}
.or-modal {
    color:  #848484;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
} 
.or-modal::before {
    content: "";
    position: absolute;
    width: 135px;
    height: 1px;
    background-color: rgb(234, 234, 234);

}