:root {
    --main-green: #18cfab;
    --main-green-hover: #18A380;
}
*{
    font-family: 'Montserrat', sans-serif;
}
body {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}
header {
    background-color: rgba(73, 71, 63, 0.6);
}
h1 {
    color: white;
    font-size: 31px;
}
.green-text {
    color: var(--main-green);
    font-weight: 700;
}

.hexagon {
    width: 58px;
    height: 33px;
    background: var(--main-green);
    position: relative;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hexagon:before {
    content: "";
    position: absolute;
    top: -17px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-bottom: 17px solid var(--main-green);
}
.hexagon:after {
    content: "";
    position: absolute;
    bottom: -17px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-top: 17px solid var(--main-green);
}
.hexagon-logo {
    width: 26px;
    height: 6px;
    background-color: #fff;
    position: relative;
}
.hexagon-logo:after {
    content: "";
    width: 6px;
    height: 28px;
    background-color: #fff;
    position: absolute;
    top: -11px;
}
.hexagon-logo:before {
    content: "";
    width: 6px;
    height: 28px;
    background-color: #fff;
    position: absolute;
    top: -11px;
    right: 0;
}
.container {
    margin: 0 auto;
    width: 1200px;
    padding-right: 20px;
    padding-left: 20px;
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 120px;
}
.header-logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-menu-wrapper{
    display: flex;
}
.header-menu-wrapper ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.header-menu-wrapper ul li a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #c2c2c2;
    transition: 0.2s;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
}
.header-menu-wrapper ul li a::before {
    content: "";
    position: absolute;
    display: none;
    height: 2px;
    width: 100%;
    background-color: var(--main-green);
    top: 67px;
    left: 0;
    transition: 0.2s;
}
.header-menu-wrapper ul li a:hover {
    color: var(--main-green);
}
.header-menu-wrapper ul li a:hover::before {
    display: block;
    transition: 0.2s;
}
.fa-search {
    font-size: 16px;
}
.about-headers-wrapper {
    text-align: center;
}
.section-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 244px;
    padding-bottom: 244px;
}
.section-about-first {
    color: #ffffff;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
}
.section-about-second {
    color: #ffffff;
    font-size: 78px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
}
.section-about-third {
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 300;
    margin-top: 10px;
}
.about-btns-wrapper {
    margin-top: 142px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main-btn {
    text-decoration: none;
    color: #ffffff;
    background-color: var(--main-green);
    border-radius: 5px;
    display: inline-block;
    padding: 1.3em 0;
    font-size: 13px;
    font-weight: 700;
    width: 166px;
    text-align: center;
    text-transform: uppercase;
    line-height: 2.37;
    transition: 0.2s;
}
.btn-section-about, .btn-section-advantages {
    box-shadow: inset 0 4px white;
    margin-right: 12px;
}
.btn-section-about:hover {
    background-color: var(--main-green-hover);
}
.btn-blue {
    background-color: #00cbf6;
    margin-right: 0;
    margin-left: 12px;
}
.btn-blue:hover {
    background-color: #00A8D3;
}
.features-wrapper {
    display: flex;
    flex-direction: row;
}
.feature-box {
    flex-basis: 25%;
    height: 367px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.feature-box:nth-child(odd){
    background-color: #1c2a33;
    border-top: 7px solid var(--main-green);
}
.feature-box:nth-child(even){
    background-color: var(--main-green);
    border-top: 7px solid #ffffff;
}
.feature-box-text {
    font-size: 20px;
    margin-bottom: 120px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}
.feature-box-text-green {
    color: var(--main-green);
}
.feature-img {
    margin-bottom: 38px;
}
.section-our-services {
    background-color: #fff;
}
.services-container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 105px;
    background: #ffffff;
}
.services-header, .work-header, .news-header {
    font-size: 36px;
    color: #4e4e4e;
    position: relative;
    padding-bottom: 112px;
}
.services-header:before, .news-header:before, .slaider-header:before {
    content: "";
    width: 76px;
    height: 1px;
    background-color: var(--main-green);
    position: absolute;
    top: 81px;
    left: 68px;
}
.services-header:after, .news-header:after, .slaider-header:after {
    content: "";
    width: 76px;
    height: 1px;
    background-color: var(--main-green);
    position: absolute;
    top: 84px;
    left: 80px;
}
.services-tabs-wrapper {

}
.services-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 1160px;
}
.services-btn {
    text-align: center;
    display: block;
    padding-top: 26px;
    padding-bottom: 26px;
    font-size: 15px;
    color: #717171;
    border: 1px solid #ebebeb;
    border-right: none;
    background-color: #f8fcfe;
    box-sizing: border-box;
    flex-basis: 16.6666666%;
    cursor: pointer;
    transition: 0.2s;
}
.services-btn:last-child {
    border-right: 1px solid #ebebeb;
}
.services-btn:hover {
    background-color: var(--main-green-hover);
    border-color: var(--main-green-hover);
    color: #ffffff;
}
.services-btn-active {
    background-color: var(--main-green);
    border-color: var(--main-green);
    color: #ffffff;
    position: relative;
}
.services-btn-active:after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 83px;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 13px solid var(--main-green);
    transition: 0.2s;
}
.services-btn-active:hover:after{
    border-top-color: var(--main-green-hover);
}
.services-content{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}
.service-img {
    width: 194px;
    height: 139px;
}
.services-text {
    transition: 0.2s;
    margin-left: 20px;
    font-size: 13.5px;
    font-weight: 300;
    color: #777777;
    max-width: 927px;
    max-height: 136px;
    line-height: 1.7;
    text-align: justify;
}
.section-advantages {
    background-image: url("../img/advantages-bg.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 127px;
}
.advantages-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-advantages-header {
    font-size: 40px;
    color: var(--main-green);
    font-weight: 700;
    text-transform: uppercase;
}
.section-advantages-text {
    font-size: 16px;
    line-height: 2.5;
    color: #d8d8d8;
    margin-top: 5px;
}
.btn-section-about-margin {
    margin-top: 70px;
}
.section-work {
    background: #ffffff;
    padding-top: 97px;
    padding-bottom: 100px;
}
.work-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .work-header:before{
    content: "";
    width: 76px;
    height: 1px;
    background-color: var(--main-green);
    position: absolute;
    top: 66px;
    left: 125px;
}
 .work-header:after{
    content: "";
    width: 76px;
    height: 1px;
    background-color: var(--main-green);
    position: absolute;
    top: 69px;
    left: 137px;
}
.work-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
}
.work-menu-btn {
    font-size: 14px;
    display: block;
    padding: 24px 26px;
    color: #717171;
    border-right: 1px solid #ebebeb;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
}
.work-menu-btn:before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    top: -3px;
    left: 0;
    background-color: var(--main-green);
    display: none;
}
.work-menu-btn:hover {
    color: var(--main-green);
}
.work-menu-btn:hover::before{
    display: block;
}
.work-menu-btn-active {
    color: var(--main-green);
}
.work-menu-btn-active:before{
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    top: -3px;
    left: 0;
    background-color: var(--main-green);
    display: block;
}
.work-img-wrapper {
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.work-img {
}
.work-btn-append-all {
    padding-left: 25px;
    margin-top: 70px;
    cursor: pointer;
    position: relative;
}
.work-btn-append-all:hover {
    background-color: var(--main-green-hover);
}
.work-btn-append-all:after {
    position: absolute;
    content: "";
    width: 16px;
    height: 4px;
    background-color: #fff;
    top: 31px;
    left: 25px;
}
.work-btn-append-all:before {
    position: absolute;
    content: "";
    width: 4px;
    height: 16px;
    background-color: #fff;
    top: 25px;
    left: 31px;
}
.work-single-img-wrapper{
    width: 286px;
    height: 206px;
    font-size: 0;
    position: relative;
}
.work-container-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 286px;
    height: 206px;
    border-top: 4px solid var(--main-green);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
    transition-timing-function: ease;
    z-index: 1;
}
.work-container-hover:hover {
    opacity: 1;
}
.work-container-hover p:nth-child(2) {
    font-size: 14px;
    color: var(--main-green);
    text-transform: uppercase;
    font-weight: 700;
}
.work-container-hover p:nth-child(3) {
    font-size: 12px;
    font-weight: 300;
    color: #8a8a8a;
    padding-top: 10px;
}
.work-container-hover-link-wrapper{
    margin-bottom: 30px;
    text-align: center;
}
.work-container-hover-link-wrapper a {
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
}
.work-container-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--main-green);
    font-size: 14px;
}
.wci-white {
    color: #ffffff;
}
.work-container-hover-link-wrapper a:first-child {
    border: 1px solid var(--main-green);
    margin-right: 5px;
}
.work-container-hover-link-wrapper a:last-child {
    background-color: var(--main-green);
}
.breaking-news {
    border-top: 1px solid #ebebeb;
    padding-top: 80px;
    padding-bottom: 134px;
    background-color: #fff;
}
.news-content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.news-header:before {
    top: 66px;
    left: 88px;
}
.news-header:after {
    top: 69px;
    left: 100px;
}
.news-content-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.news-box {
    display: block;
    border: 1px solid #ebebeb;
    background-color: #f8fcfe;
    position: relative;
    color: #717171;
    transition: 0.2s;
}
.news-box:nth-child(n+5){
    margin-top: 45px;
}
.news-box:hover {
    color: var(--main-green);
}
.news-box:hover > .news-box-date {
    background-color: var(--main-green);
}
.news-box-date {
    width: 68px;
    height: 66px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #203e38;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.news-box-date-number {
    padding-bottom: 7px;
}
.news-box-date-number, .news-box-date-month {
    font-size: 16px;
    color: #ffffff;
}
.news-box-header {
    font-size: 17.5px;
    line-height: 2.23;
    font-weight: 700;
    margin-left: 13px;
}
.news-box-text {
    margin-bottom: 5px;
}
.news-box-text span {
    font-size: 14px;
    font-weight: 300;
    color: #777777;
    line-height: 2;
    margin-left: 13px;
}
.news-box-text span:first-child {
    border-right: 1px solid #777777;
    padding-right: 18px;
}
.slaider {
    background-image: url("../img/slider-bg.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 40px;
}
.slaider-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slaider-header {
    font-size: 36px;
    color: #ffffff;
    position: relative;
}
.slaider-header:after {
    left: 260px;
}
.slaider-header:before {
    left: 248px;
}
.slaider-quote-icon{
    padding-top: 100px;
}
.comment-wrapper {
    height: 132px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.comment {
    font-size: 16px;
    font-weight: 300;
    color: #bbbbbb;
    line-height: 1.88;
    text-align: center;
}
.commentator-name {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--main-green);
}
.commentator-pos {
    font-size: 13px;
    font-weight: 300;
    line-height: 2;
    color: #bbbbbb;
}
.slider-comments-wrapper {
    position: relative;
}
.slaider-comments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 200px;

}
.btn {
    display: block;
    width: 31px;
    height: 31px;
    border: 1px solid #bbbbbb;
    position: absolute;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
}
.btn:hover {
    background-color: var(--main-green);
    border-color: var(--main-green);
}
.btn:active {
    background-color: var(--main-green-hover);
    border-color: var(--main-green-hover);
}
.btn-left {
    top: 50%;
    left: 0;
    transform: translate(-150%, -50%);
}
.btn-right {
    top: 50%;
    left: 100%;
    transform: translate(50%, -50%);
}
.arrow-icon-left {
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    top: 7px;
    left: 10px;
}
.arrow-icon-right {
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    top: 7px;
    right: 10px;
}
.slaider-item-wrapper {
    width: 85px;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slaider-item {
    display: block;
    border: 5px solid rgba(24, 207, 171, 0.2);
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    width: 60px;
    height: 60px;
    transition: width 0.2s, height 0.2s, transform 0.2s;
}
.slaider-item-active {
    transform: translateY(-15px);
}
.slaider-item:hover {
    width: 85px;
    height: 85px;
}
.image-wrapper {
    margin-top: 35px;
    border-radius: 50%;
    border: 10px solid rgba(24, 207, 171, 0.2);
    width: 150px;
    height: 150px;
    overflow: hidden;
}
footer {
    margin-top: -1px;
    background-color: #22353f;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.86;
    color: #aeaeae;
}
.footer-green-text {
    color: var(--main-green);
}