* {
    width: 1280px;
    /*
    border: 1px solid red;
    */
}
a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
    font-family: 'Roboto';
    color: #16a085;
    text-transform: uppercase; 
}
a:active {
    color: green;
}
.links-top {
    margin-top: 32px;
    margin-bottom: 34px;
}
.link-1 {
    margin-left: 332px;
}
.link-2 {
    margin-left: 65px;
}
.link-3 {
    margin-left: 70px;
}
.link-4 {
    margin-left: 78px;
}

.main-text {
    text-align: center;
    font-family: Roboto;
    font-weight: 900;
    background-color: #f5f6f7;
} 

.main-text > h2 {
    color:  #373737;
    font-size: 22px;
    text-transform: uppercase;
    padding-top: 59px;
    text-align: center;
    
}
.main-text > p {
    color:  #373737;
    font-size: 18px;
    line-height: 26px;
    padding-top: 34px;
    padding-left: 110px;
    padding-right: 110px;
}

.main-text > a {
    display: inline-block;
    border-radius: 3px;
    background-color:  #16a085;
    width: 192px;
    height: 51px;
    margin-top: 41px;
    margin-bottom: 94px;
    color: white;
    text-transform: uppercase;
    text-decoration: none; 
    user-select: none;
    padding-top: 15px;
    font-size: 10px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 6px;
    transition: 0.3s;
}
.main-text > a:hover {
    background-color: #10816b;
}
.main-text > a:active {
    background:  #044e3f;
    box-shadow: 0 3px #0c5c4d inset;
}
footer {
    font-family: Roboto;
    color:  #373737;
    font-size: 18px;
    font-weight: 900;
    margin-left: 768px;
    margin-top: 45px;
    margin-bottom: 45px;

}
/*
.main-text > button {
    border-radius: 3px;
    background-color:  #16a085;
    width: 192px;
    height: 51px;
    margin-top: 41px;
    margin-bottom: 94px;
    border: 0px;
    color: white;
    text-transform: uppercase;
}
*\