
body {
    margin: 0 auto;
    background-image: url("../img/rana-sawalha-364253-unsplash.png");
    background-repeat: no-repeat;
     background-position: top;
    background-size: cover;
    font-family: Verdana, Geneva, sans-serif;
} 
.header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.41);
}
.nav-bar {
    display: inline-block;
    display: flex;
}
.main-link {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 21px;
    margin-left: 81px;
    margin-top: 17px;
    margin-bottom: 16px;
    text-transform: uppercase;
} 
.main-link:hover {
    color:  #3cb878;
    transition: 0.3s;
}
.log-links a {
    text-decoration: none;
    color:  #3cb878;
}
.icon {
    display: block;
    margin-right: 30px;
    margin-top: 16px;
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
}
.icon-1 {
    width: 19px;
    height: 19px;
    background-position: -5px -5px;
}
.icon-2 {
    width: 28px;
    height: 20px;
    background-position: -5px -34px;
}
.icon-3 {
    width: 20px;
    height: 20px;
    background-position: -81px -5px;
    margin-right: 50px;
}
.icon-1:hover {
    background-position: -34px -5px;
}
.icon-2:hover {
    background-position: -43px -34px;
}
.icon-3:hover {
    background-position: -81px -35px;
}
.log-links {
    margin-top: 16px;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-right: 75px;
}
.log-links a:hover {
    text-decoration: underline;
}
.log-links::before {
    position: absolute;
    content: "";
    background-color: rgb(132, 132, 132);
    right: 295px;   
    width: 1px;
    height: 19px;
}
.modal {
    width: 444px;
    height: 584px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    margin-left: -222px;
    margin-top: -292px;
    top: 50%;
    left: 50%;
}
.content-modal {
    margin-top: 29px;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 32px;
}
.header-modal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-modal span {
    color:  #434343;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
}
.header-modal a {
    text-decoration: none;
    color:  #3cb878;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.header-modal a:hover {
    text-decoration: underline;
}
.header-modal span::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: rgb(60, 184, 120);
    left: 0;
}
.bottoms-modal {
    margin-top: 14px;
    display: flex;
}
.bottom {
    width: 157px;
    height: 46px;
    border-radius: 3px;
    display: inline-block;
    display: flex;
}
.bottom-facebook::before {
    content: "";
    position: absolute;
    top: 74px;
    left: 106px;
    width: 1px;
    height: 28px;
    background-color: rgb(29, 65, 135);
}
.bottom-facebook {
    background-color:  #264b96;
}
.icon-facebook {
    margin-left: 20px;
    margin-top: 13px;
}
.facebook-link {
    color: #fff;
    text-decoration: none;
    margin-top: 12px;
    margin-left: 36px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}
.bottom-google {
    background-color:  #c3412c;
    margin-left: 8px;
}
.bottom-google::before {
    content: "";
    position: absolute;
    top: 74px;
    left: 270px;
    width: 1px;
    height: 28px;
    background-color: rgb(176, 56, 35);
}
.icon-google {
    margin-left: 13px;
    margin-top: 15px;
}

.google-link {
    color: #fff;
    text-decoration: none;
    margin-top: 12px;
    margin-left: 34px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}

.or-modal {
    color:  #848484;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-top: 33px;
} 
.or-modal::before {
    content: "";
    position: absolute;
    width: 135px;
    height: 1px;
    top: 152px;
    left: 62px;
    background-color: rgb(234, 234, 234);
}
.or-modal::after {
    content: "";
    position: absolute;
    width: 135px;
    height: 1px;
    top: 152px;
    right: 60px;
    background-color: rgb(234, 234, 234);
}
form {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
input[type=text] {
    width: 100%;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 3px;
    box-sizing: border-box;
    padding-left: 19px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-top: 9px;
    transition: 0.3s;   
}
input[type=text]:focus {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    color: #000;
}
input[type=password] {
    width: 100%;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 3px;
    box-sizing: border-box;
    padding-left: 19px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-top: 9px;
}
input[type=password]:focus {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
}
.agree-checkbox {
    display: block;
    position: relative;
    user-select: none;
    -ms-user-select: none;
    margin-top: 22px;
    padding-left: 30px;
    color:  #434343;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    width: 242px;
}
.agree-checkbox input {
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkbox-link {
    text-decoration: none;
    color:  #3cb878;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.checkbox-link:hover {
    text-decoration: underline;
}
.checkmark {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    box-sizing: border-box;
    border: 1px #ebebeb solid;
    border-radius: 2px;
}
.checkmark::after {
    content: "";
    position: absolute;
    display: none;
  }
.agree-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
.agree-checkbox .checkmark::after {
    left: 4px;
    top: 0px;
    width: 9px;
    height: 13px;
    border: solid rgb(60, 184, 120);
    border-width: 0 3px 3px 0;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.agree-text{
    margin-left: 30px;
}
input[type=submit] {
    margin-top: 25px;
    width: 100%;
    height: 46px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background: rgb(60, 184, 120);
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}
input[type=submit]:active
{
    background: rgb(47, 150, 96) linear-gradient(rgb(47, 150, 96) , rgb(56, 156, 105));
    box-shadow: 0 2px 3px rgba(0,0,0,.1) inset;
}