body {
    color: #ffffff;
    font-family: Verdana, sans-serif;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-position: top;
}
.main-container {
    width: 1366px;
    height: 768px;
    margin:0 auto;
    padding-left: 154px;
    padding-right: 154px;
}

.header {
    height: 44px;
    margin-top: 49px;
}
.header a {
    display: block;
    float: left;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    height: 44px;
}
.header span {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

.header a::before {
    background-image: url("../img/logo.png");
    content: "";
    height: 44px;
    width: 46px;
    float: left;
    margin-right: 15px;
}
.header p {
    padding-left: 820px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
}
.header a:hover {
    color:  #f26522;
    transition: 0.3s;
} 
.header a:hover::before {
    background-image: url("../img/logo-hover.png"); 
    transition: 0.3s;
}
.content {
    height: 600px;
}
.box {
    float: left;
    height: 250px;
    overflow: hidden;
    width: 309px;
    box-sizing: border-box;
}
.content .box:nth-child(-n+3) {
    margin-top: 45px;
}
.content .box:nth-child(n+4) {
    margin-top: 55px;
}
.box img {
    border: 2px solid #ffffff;
    border-image: linear-gradient(to top, #000000 0%, #ffff 100%);
    border-image-slice: 1;
}
.text-link {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-family: Verdana;
    font-size: 18px;
    font-weight: 400;
}
.text-link h5 {
    font-size: 18px;
    padding-top: 20px;
}

.text-link:hover{
    color:  #f26522;
    transition: 0.3s;
}
.price-box {
    width: 309px;
    height: 63px;
    background-color: #f26522;
    font-weight: 400;
    line-height: 21px;
    transition: margin-top 0.5s;
    margin-top: 8px;
}
.text-link:hover + .price-box {
    display: block;
    margin-top: -109px;
    position: absolute;
   
}
.price-box:hover {
    display: block;
    margin-top: -109px;
    position: absolute;
}
.price-box:hover + h5 {
    color: rgb(242, 101, 34);
}
.price-box .price {
    display: inline-block;
    font-size: 20px;  
    padding-left: 21px;
    padding-top: 24px;
    position: relative;
}
.price p {
    font-size: 10px;
    position: absolute;
    top: 7px;
}
.price-box a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    margin-left: 126px;
}
.price-box a::after {
    
    display: block;
    /* content:  url("../img/angle-right.png"); */
    max-width: 7px;
    max-height: 10px;
    color: #ffffff;
} 
.box-padding-left {
    margin-left: 65px;
}
.box-padding-top {
    padding-top: 55px;
}
.card-1 {
    padding-left: 84px;
}
.card-2 {
    padding-left: 77px;
}
.card-3 {
    padding-left: 108px;
}
.card-4 {
    padding-left: 84px;
}
.card-5 {
    padding-left: 75px;
}
.card-6 {
    padding-left: 93px;
}
.footer {
    margin-top: 39px;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

